@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.main{
    
    color: white;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../resources/bg.png');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.formbox{

    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background: #ffffff2e;
    padding: 5px;
    overflow: hidden;
    backdrop-filter: blur(6px);
    border-radius: 50px;
    box-shadow: .5em .5em 20em black;
    
}
.welcome{
    position: relative;
    font-family: 'Great Vibes';
    font-size: 80px;
    margin:10px auto;
    text-align: center;
    animation: fadeinanim;
    animation-duration: 3s;    
}
.buttonbox{
    
    width: 211px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ab24ff1f;
    border-radius: 30px;
}
.toggle-btn{
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffea00, #9b12ad);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    
    top: 200px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.inputfield{
    
     width: 100%;
     padding: 10px 0;
     margin: 5px 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 1px solid #999;
     outline: none;
     background: transparent;
}
.submit-btn{
    color: white;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: linear-gradient(to right, #8C8642, #9b12ad);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    background: linear-gradient(to right, #706a2b, #7e0f8d);
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
#login2{
    font-size: 50px;
    left: 70px;
    position: absolute;
    overflow: hidden;
    transition: .5s;
}
#register2{
    font-size: 80px;
    position: absolute;
    left: 400px;
    overflow: hidden;
    transition: .5s;
}
::placeholder{
    opacity: 50%;
    color: black;
}

@keyframes fadeinanim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

  /* REGISTRATION TAB */
  .reg-container{
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: #bababa;
    color:black;
    width: 100%;
    height: 100%;
  
  }
  .reg-box{
    border: none;
    top: 10em;
    margin: 0px auto;
    position: relative;
    background-color: white;
    width: 300px;
    height: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
  }
  #reg-icon{
    position: absolute;
    color:#4CAF50;
    outline: none;    
    display: block;
    margin-left: 1.5em;
    margin-top: 1.2em;
  }

  .reg-text{
    position: absolute;
    font-size: 1.2em;
    font-family: sans-serif;
    color: black;
    width: 100%;
  
    display: inline;
    margin: auto;
    margin-top: 10em;
    transform: translate(10%);
  }

  .reg-minibox{
    position: absolute;
    margin-top: 250px;
    background-color: #4CAF50;
    width: 300px;
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .bttn{
    outline: none;
    color: black;
    border: 1px solid;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: transparent;
    outline: none;
    border-radius: 30px;
    margin: auto;
    margin-top: 2em;
    
}
