@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;

    list-style: none;
  
    font-family: 'Josefin Sans', sans-serif;
  
  }
  
  
body{
  
     background-color: #f3f3f3;
  
     font-family: sans-serif;
  
  }
  
  
  .wrapper{
  
    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%,-50%);
  
    width: 500px;
  
    display: flex;
  
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  
  }

  .wrapper .left{
    display: flex;

    width: 40%;
  
    background: linear-gradient(to right,#ffea00, #9b12ad);
  
    padding: 30px 25px;
  
    border-top-left-radius: 5px;
  
    border-bottom-left-radius: 5px;
  
    text-align: center;
  
    color: #fff;
    
    justify-content: center;
  
  }
  
  
  .wrapper .left img{
  
    border-radius: 5px;
  
    margin-bottom: 10px;
  
  }
  
  
  .wrapper .left h4{
  
    margin-bottom: 10px;
  
    font-size: 20px;
  
    font-family: sans-serif; 
  
  }
  
  
  .wrapper .left p{
  
    font-size: 15px;
  
  }

  .wrapper .right{

    width: 65%;
  
    background: #fff;
  
    padding: 30px 25px;
  
    border-top-right-radius: 5px;
  
    border-bottom-right-radius: 5px;
  
  }

  .info{

  margin-bottom: 25px;

}


.info h3{

    margin-bottom: 15px;

    padding-bottom: 5px;

    border-bottom: 1px solid #e0e0e0;

    color: #353c4e;

    text-align: center;

  text-transform: uppercase;

  letter-spacing: 5px;

}


.info_data{

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

}


.info_data .data{

  width: 45%;

}


.info_data .data h4{

    color: #353c4e;

    font-size: 17px;

    margin-bottom: 5px;

}


.info_data .data p{

  font-size: 15px;

  margin-bottom: 10px;

  color: #4a4f54;

}
.button{
    position: absolute;
    
    margin-top: 150px;

    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%,-50%);
  
  
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.1);

}
.btn{
    width: 80px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}
